@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&subset=latin-ext');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #05213e;
}

header {
	background: white;
	padding: 30px;
}

header > h1 {
	color: #05213e;
	text-align: center;
	font-family: Montserrat, sans-serif;
}

.score-board {
	margin: 30px auto;
	border: 3px solid white;
	width: 250px;
	color: white;
	text-align: center;
	font-size: 1.2em;
	border-radius: 10px;
	padding: 15px 20px;
	font-family: Montserrat, sans-serif;
	position:relative;

}
#user-score
{
	margin:0 20px
}
#comp-score
{
	margin:0 30px;
}
.players {
	
	background-color:#de115a;
	border-radius: 10px;
	color:white;
	font-size:15px;
	padding:3px 12px;
}
#user-label {
	position: absolute;
	top:17px;
	left:-30px;
}
#comp-label {
	position: absolute;
	top:17px;
	right:-30px;
	
}
.result {
	
	text-align: center;
	
}
.picking{
	display:flex;
justify-content: space-around;
font-family: Montserrat, sans-serif;
color:green;
}
#userChoose{
	color:red;
}
#compChoose{
	color:red;
}
.result > p {
	color:white;
	font-size:38px;
	animation-name: result ;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	font-family: Montserrat,sans-serif;
	font-weight: 600;
}

.choices
{
	
	text-align: center;
	margin: 50px 0px ;
	
}
.choice {
	margin:0px 15px;
	padding:6px;
	border-radius:50%;
	display:inline-block;
	border: 2px solid white;
	transition: all 0.3s ease;

}
.choice:hover {
	cursor: pointer;
	
	
}

.choice>img:hover{
	opacity: 0.6;
	
}
#message {
	color:white;
	text-align: center;
	font-family: Montserrat,sans-serif;
	font-weight: 700;
}


.goodChoice {
	border: 3px solid #4dcc7d;
	box-shadow: 0 0 10px 2px #31b43a;
}
.badChoice {
	border:3px solid #fc121b;
	box-shadow: 0 0 10px 2px #990000;
}
.drawChoice {
	border: 3px solid #606060;
	box-shadow: 0 0 10px 2px #606060;
}









